:root {
  --darkR: #9c4c43;
  --lightR: #bc8a84;
  --medR: #a96962;
  --darkg: #47554d;
  --medg: #62746a;
  --lightg: #dbe0d2;
  --purp: #7b7d84;
}

body {
  line-height: 1.4;
  font-family: Optima, Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--lightR);
  padding: 2%;
  font-family: Optima, Arial, Helvetica, sans-serif;
  align-items: center;
}

header h1 {
  font-size: 40px;
}

header li {
  font-size: 25px;
}

nav ul {
  display: flex;
}

nav ul li {
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

figure img {
  display: flex;
  height: 180px;
  object-fit: cover;
  width: 100%;
  align-items: center;
}

main {
  background-color: var(--lightg);
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: row;
  padding: 2%;
  background-color: var(--medR);
  margin: 10px;
  justify-content: flex-start;
  border-radius: 10px;
}



section p {
  padding: 1%;
}

h2 {
  padding: 6px;
  font-size: 200%;
  text-align: center;
  background-color: var(--darkg);
  color: var(--lightg);
  border-color: var(--darkg);
  min-width: 160px;
  border-radius: 10px 0 0 10px;
  flex-wrap: wrap;
}

section ul {
  display: flex;
  padding: 1%;
  background-color: yellow;
  width: fit-content;
}

section ul li {
  min-width: 20px;
  border: solid;
  padding: 10px;
  background-color: green;
  margin: 5px;
}
a {
  text-decoration: none;
  color: black;
}