/* color palette, although not all were used */
:root {
  --darkR: #9c4c43;
  --lightR: #bc8a84;
  --medR: #9e9772;
  --darkg: #47554d;
  --medg: #62746a;
  --lightg: #756b35;
  --purp: #7b7d84;
  --yellow: #c2a15d;
}


body {
  line-height: 1.4;
  font-family: Optima, Arial, Helvetica, sans-serif;
}

/* header design*/
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--lightg);
  padding: 2%;
  font-family: Optima, Arial, Helvetica, sans-serif;
  align-items: center;
}

header h1 {
  font-size: 40px;
}

header li {
  font-size: 25px;
}

nav ul {
  display: flex;
}

/* to separate name(h1) from the nav list */
nav ul li {
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

/* banner/background characteristics */
figure img {
  display: flex;
  height: 180px;
  object-fit: cover;
  width: 100%;
  align-items: center;
}

main {
  background-color: var(--lightg);
  display: flex;
  flex-direction: column;
}


/* theme for all my sections, biggest containers with bulk of the info */
section {
  padding: 2%;
  background-color: var(--medR);
  margin: 10px;
  border-radius: 10px;
}

section p {
  padding: 1%;
}

/* used header as a main component in sections */
h2 {
  padding: 6px;
  font-size: 200%;
  color: black;
  border-color: var(--darkg);
  min-width: 160px;
  border-radius: 10px 0 0 10px;
  flex-wrap: wrap;
  line-height: 1.2;
}


section ul {
  padding: 1%;
}

.contactCard {
  display: flex;
}

/* buttons for contacting me */
section ul li {
  min-width: 20px;
  background-color: var(--yellow);
  padding: 15px;
  margin: 15px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}
.center {
  margin: auto;
}

/* helped align img elements and displayed them */
.mainwork {
  display: block;
  width: 100%;
  align-items: center;
  border-radius: 0 25px 25px 0;
}

/* layout for more or less all of my sections and sub-sections(it took me 3 days to figure it out, hence the name) */
.annoying {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1%;
}

/* work section headings */
h3 {
  background-color: var(--yellow);
  padding: 2%;
  border-radius: 25px 0 0 25px;
}

.workflex {
  display: flex;
  flex-flow: row wrap;
}

.otherwork {
  max-height: 50px;
}

.left {
  color: var(--medR);
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* hire me heading */
figcaption {
  background-color: var(--yellow);
  text-align: center;
}

/* responsive design alterations, modified from original screen */
@media screen and (max-width: 768px) {
  main,
  header,
  nav ul {
    flex-direction: column;
  }
  figcaption {
    display: none;
  }
  .annoying {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section h3 {
    border-radius: 25px 25px 0 0;
  }
  .mainwork {
    border-radius: 0 0 25px 25px;
  }
  .contactCard {
    display: flex;
    flex-direction: column;
    text-align: center;
  }